/*****************************************
****GENERAL
*****************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url(img/Dice\ Art\ IPhone\ Wallpaper\ -\ IPhone\ Wallpapers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'BankGothic Lt BT', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: rgb(255, 253, 253);
}

.gameName {
    width: fit-content;
    font-size: 2em;
    margin: 30px auto;
}

.wrapper {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 50%; */
    background-image: url(img/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 80vh;
    padding: 20px;
}

.copyright {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    padding: 3px 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}



/*****************************************
****PLAYERS
*****************************************/

.player-name {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 60px 0 20px;
    position: relative;
}


.player-score {
    text-align: center;
    font-size: 5em;
    font-weight: 100;
    color: #fefefe;
    margin-bottom: 350px;
}

.active { background-color: #12101097; }
.active .player-name { font-weight: 300;}
.active .player-score { color: #77ac4b;}
.active .player-current-box { background-color: #fefefe; }
.active .player-current-box, .active .player-current-box .player-current-label {
    color: #080808;
}

.active .player-name::after {
    content: '\2022';
    font-size: 30px;
    position: absolute;
    color: #77ac4b;
    top: -3px;
    right: -8px;

}

.player-current-box {
    background-color: #121010bc;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    border-radius: 3px;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: rgb(255, 253, 253);
}

.player-current-score {
    font-size: 4.5em;
}

button {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 253, 253);
    background: none;
    border: none;
    font-family: 'BankGothic Lt BT', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3;
}

button:hover {font-weight: 600;}
button:hover i {margin-right: 15px;}

button:focus {
    outline: none;
}

i {
    color: rgb(255, 253, 253);
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -2px;
    transition: margin 0.3s;
}

.btn-new {top: 3vh;}
.btn-roll {top: 62vh;}
.btn-hold {top: 68vh;}

.winningScore {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    top: 770px;
    color: #555;
    text-align: center;
    font-size: 1.5em;
    padding: 8px;
    border: none;
    border-radius: 4px;
}
.winningScore:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 358px;
    transform: translate(-50%);
    height: 150px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.winner {
    background-color: #121010bc;
}
.winner .player-name, .winner .player-score{
    font-weight: 300;
    color: #77ac4b;
}

.winner .player-current-box {
    display: none;
}



/*****************************************
****TABLET
*****************************************/
@media screen and (min-width: 980px) {
    
}



/*****************************************
****MOBILE
*****************************************/
/* @media screen and (max-width: 680px) {
    body {
        height: 100vh;
    }
    .gameName {
        margin-top: 30px;
         font-size: 3em; 
    }
    .wrapper {
        width: 90%;
    }
    .player-0-panel,
    .player-1-panel {
        height: 400px;
        padding: 0px;
    }
    .player-name {
        font-size: 18px;
        margin: 45px 0 10px;
    }
    .player-score {
        font-size: 60px;
        margin-bottom: 150px;
    }
    .active .player-name::after {
        font-size: 27px;
        top: -3px;
        right: 20px;
    }
    .player-current-box {
        padding: 5px;
        width: 35%;
    }
    .player-current-label {
        font-size: 10px;
    }
    .player-current-score {
        font-size: 20px;
    }
    .copyright {
        font-size: 10px;
    }
    button {
        width: 100px;
        font-size: 13px;
    }
    i {
        font-size: 12px;
        margin-right: 5px;
        margin-top: 0;
    }
    .btn-new {
        top: 15px;
    }

    .btn-roll {
        top: 290px;
    }

    .btn-hold {
        top: 318px;
    }
    .dice {
        top: 158px;
        height: 80px;
    }
    .winningScore {
        width: 85px;
        top: 345px;
        font-size: 12px;
        padding: 2px;
        border-radius: 2px;
    }
} */
